article {
    max-width: 40em;
    margin: 2em auto;
    padding: .5em;
    border: 0 none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: var(--dark-background);
}

.formBkgd{
    padding: 1em;
    background-color: var(--white-opacity);
}

article input, article textarea, article select {
    box-sizing: border-box;
    padding: .2em .4em;
    margin: .2em 0;
    outline: none;
    box-shadow: none;
}

article button, article label, .iconRight {
    cursor: pointer;
}

article .alignRight {
    text-align: right;
}

article .alignCenter {
    text-align: center;
}

.photoActions {
    display: flex;
    align-items: center;
}

.photoActions svg {
    padding-right: 5px;
    cursor: pointer;
}


.photoActions p {
    display: none;
    margin: 0px;
}

.photoActions svg:hover~p {
    display: inline;
}

.uploadImage {
    margin-top: .5rem;

}

.iconRight {
    float: right;
}


article .formgrid {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1em;

}

article label {
    width: 75%;
}

article input, article select, article textarea {
    width: 75%;
}

.add--new {
    margin-top: .5em;
    text-decoration: underline;
    cursor: pointer;
    font-size: .75em;
    width: 75%;
    text-align: right;
}

.add--new:hover {
    color: var(--red-accent);
}

.sub-form {
    min-width: 500px;
}

.size-form input {
    max-width: 5em;
}

.size-form select {
    max-width: 10em;
}