.design-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.design-container .card {
    background-color: #255F85;
    border: 1px solid black;
    border-radius: 1%;
    flex-basis: 28%;
    margin: 1em;
    padding: .5em;
    display: flex;
    flex-direction: column;
}

.designStatus {
    text-align: right;
    margin: .25em auto;
    font-style: italic;
    font-size: small;
}

.designTitle {
    /* color: white; */
    margin-top: .25em;
    margin-bottom: .5em;
    text-shadow: -1px -1px 0 #C5283D, 
    1px -1px 0 #C5283D, 
    -1px 1px 0 #C5283D, 
    1px 1px 0 #C5283D;
}

.design-container svg {
    /* color: #C5283D; */
    margin: auto .25em;
}

.design-container svg:hover {
    color: #C5283D;
    cursor: pointer;
}

img {
    width: 20em;
    height: 15em;
    border-radius: 1%;
}

.design-container .card-content {
    height: 100%;
    background-color: rgba(250,250,250, .5);
    border-radius: 1%;

}

.designActions {
    margin-top: .5em;
    align-self: flex-end;
}

/* .designDetails {

    
} */