.add--new {
    text-decoration: underline;
    cursor: pointer;
}

.add--new:hover{
    color: darkred;
}

article {
    max-width: 40em;
    padding: 4px;
    margin: 2em auto;
    border: 0 none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: cornsilk;
}

article input, article textarea, article select {
    box-sizing: border-box;
    padding: .2em .4em;
    margin: .2em 0;
    outline: none;
    box-shadow: none;
}

article button, article label {
    cursor: pointer;
}

article .alignRight {
    text-align: right;
}

/* article .formgrid {
    display: grid;
    grid-template-columns: 1fr 1em 2fr;
    grid-gap: .3em .6em;
    grid-auto-flow: dense;
    align-items: center;
} */


article .formgrid {
    align-items: center;
    display: flex;
}

article label {
    flex-basis: 20%;
}

article input, article select, article textarea {
    flex-basis: 60%;
}

.sub-form {
    min-width: 400px;
}
.size-form input {
    max-width: 5em;
}
.size-form select {
    max-width: 10em;
}

