.design-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.design-container .card {
    background-color: #255F85;
    border: 1px solid black;
    border-radius: 1%;
    flex-basis: 28%;
    margin: 1em;
    padding: .5em;
    display: flex;
    flex-direction: column;
}

.designStatus {
    text-align: right;
    margin-top: .5em;
    font-style: italic;
    font-size: small;
}

/* .design-container svg {
    color: #C5283D;

} */

img {
    width: 20em;
    height: 15em;
    border-radius: 5%;
}

.design-container .card-content {
    height: 100%;
}
.designActions {
    align-self: flex-end;
}



/* .designTitle */

/* .designDetails */
