#findBtn {
    margin: .5em;
    max-width: 15%;
}



.mainSection {
    flex-basis: 80%;

}

.userSection {
    max-width: 50em;
    margin: 1em auto;
    padding: 1em;
}

.mainSection .userCard {
    width: 100%;
}

.sideSection {
    height: 50%;
    flex-basis: 20%;
    border: 2px solid var(--red-accent);
    min-width: 225px;
}

.sideSection h2 {
    text-align: center;
    margin-top: .5em;
    margin-bottom: .25em;
    /* color: snow; */
}

.sideSection .userCard .card-content{
    flex-direction: column;
}


.userCard .formBtn {
    margin: .5em;
    max-width: 10em;
}

.userCard .button-container {
    display: flex;
}

#searchInput {
    width: 40%;
    margin-right: 1em;
    box-sizing: border-box;
    padding: .2em .4em;
}

#viewBtn {
    max-width: 100%;
    margin-bottom: .5em;
}

.userCard .searchdiv {
    border-radius: 1%;
    margin: .2em;
    padding: .25em;
    text-align: center;
}

.searchdiv .formBtn {
    background-color: var(--white-opacity);
    color: black;
}
