#userContainer {
    display: flex;
}

#findBtn {
    margin: .5em;
    max-width: 15%;
}

.userSection {
    padding: 10px;
}

.userName{
    margin: 1em;
}

.userCard {
    background-color: var(--dark-background);
    border: 1px solid black;
    border-radius: 1%;
    margin: .25em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.userCard .card-content {
    display: flex;
    align-items: center;
    background-color: var(--white-opacity);
    border-radius: 1%;
    margin: .25em;
    padding: .25em;
    justify-content: space-between;
}

.mainSection {
    flex-basis: 80%;

}

.mainSection .subSection {
    max-width: 50em;
    margin: 1em auto;
    padding: 1em;
}

.mainSection .userCard {
    width: 100%;
}

.sideSection {
    height: 50%;
    flex-basis: 20%;
    border: 2px solid var(--red-accent);
    min-width: 225px;
}

.sideSection h2 {
    text-align: center;
    margin-top: .5em;
    margin-bottom: .25em;
    /* color: snow; */
}

.sideSection .userCard .card-content{
    flex-direction: column;
}


.userCard .formBtn {
    margin: .5em;
    max-width: 10em;
}

.userCard .button-container {
    display: flex;
}

#searchInput {
    width: 40%;
    margin-right: 1em;
    box-sizing: border-box;
    padding: .2em .4em;
}

#viewBtn {
    max-width: 100%;
    margin-bottom: .5em;
}

.userCard .searchdiv {
    border-radius: 1%;
    margin: .2em;
    padding: .25em;
    text-align: center;
}

.searchdiv .formBtn {
    background-color: var(--white-opacity);
    color: black;
}
