{
  "users": [
    {
      "email": "kristen@aol.com",
      "password": "$2a$10$I4l6.Af0TLnYw4PUJs4za.uqjM3DnOKmginETs41dkhaplACW2cOK",
      "firstName": "Kristen",
      "lastName": "Norris",
      "publicProfile": true,
      "id": 1
    },
    {
      "email": "brandon@aol.com",
      "password": "$2a$10$bl6GMZSvFHnpsZcYwlnkXe/6s0OX6KBYqf.e9KFrPqhPGmQ6TqjKu",
      "firstName": "Brandon",
      "lastName": "Rardin",
      "publicProfile": true,
      "id": 2
    },
    {
      "email": "Ada@aol.com",
      "password": "$2a$10$H7EITEv2aDarnBy6hJJm.eusaaO8tdk9./EjkZsfps/NqXKuCsr6S",
      "firstName": "Ada",
      "lastName": "Grace",
      "publicProfile": false,
      "id": 3
    }
  ],
  "designs": [
    {
      "id": 1,
      "title": "Design 1",
      "description": "this is a cross stitch design",
      "completedDate": "2019-11-01",
      "photoLink": "https://images-na.ssl-images-amazon.com/images/I/71nevQuqwKL._SX466_.jpg",
      "fabricId": 1,
      "finishedSizeId": 1,
      "userId": 1
    }
  ],
  "follows": [
    {
      "id": 1,
      "currentUserId": 2,
      "userId": 1,
      "pending": true
    },
    {
      "id": 4,
      "currentUserId": 2,
      "pending": true,
      "userId": 4
    },
    {
      "currentUserId": 1,
      "userId": 3,
      "pending": true,
      "id": 5
    },
    {
      "currentUserId": 6,
      "userId": 1,
      "pending": false,
      "id": 6
    },
    {
      "currentUserId": 6,
      "userId": 2,
      "pending": false,
      "id": 7
    },
    {
      "currentUserId": 6,
      "userId": 4,
      "pending": false,
      "id": 8
    },
    {
      "currentUserId": 1,
      "userId": 5,
      "pending": false,
      "id": 9
    },
    {
      "currentUserId": 1,
      "userId": 4,
      "pending": false,
      "id": 10
    }
  ],
  "fabrics": [
    {
      "id": 1,
      "brand": "Aida",
      "count": 14,
    }
  ],
  "finishedSizes": [
    {
      "id": 1,
      "size": "5 x 7 in"
    },
    {
      "id": 2,
      "size": "5x7 in"
    }
  ]
}